@model IEnumerable<CIBERVET.Models.ProductoForCRUD>

@{
    ViewBag.Title = "MantenimientoProductos";
    Layout = "~/Views/Layout/_Layout_Session_Veterinaria.cshtml";
}

<style>
    .thumbnail {
        width: 60px;
        height: 60px;
        border: none;
    }
</style>

<h2>Listado Productos</h2>

<p>
    @Html.ActionLink("Registrar un nuevo Producto", "RegistrarProducto")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Precio
        </th>
        <th>
            Stock
        </th>
        <th>
            Serie
        </th>
        <th>
            Marca
        </th>
        <th>
            Categoria
        </th>
        <th>
            Proveedor
        </th>
        <th>
            Descripción
        </th>
        <th>
            Foto 1
        </th>
        <th>
            Foto 2
        </th>
        <th>
            Foto 3
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desSimple)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desHTML)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.foto1))
                {
                    <img class="thumbnail" src="~/images/FotosProductos/@item.foto1" />
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.foto2))
                {
                    <img class="thumbnail" src="~/images/FotosProductos/@item.foto2" />
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.foto3))
                {
                    <img class="thumbnail" src="~/images/FotosProductos/@item.foto3" />
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "ModificarProducto", new { id = item.IdProducto }) |
                @Html.ActionLink("Ver Detalle", "DetalleProducto", new { id = item.IdProducto }) |
                @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.IdProducto })
            </td>
        </tr>
    }
</table>