@model IEnumerable<CIBERVET.Models.PedidoTracking>

@{
    ViewBag.Title = "AllPedidos";
    Layout = "~/Views/Layout/_Layout_Session.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Mis Pedidos</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Compras</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Total</th>
                        <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                        {
                        <tbody>
                            <tr>
                            <td>@item.idPedido</td>
                            <td>@item.fechaPedido</td>
                            <td>@item.descripcionEstado</td>
                            <td>@item.importeTotal</td>
                            <td>@Html.ActionLink("Ver Detalle", "TrackingCliente", new { idPed = item.idPedido })</td>
                            </tr>
                        </tbody>
                        }
                </table>
            </div>
        </div>
    </div>
</div>