@model IEnumerable<CIBERVET.Models.usuario>


@{
    Layout = "~/Views/Layout/_Layout_Session.cshtml";
}


<div class="container">
    <h2>Perfil del Cliente</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="content">
                    <div class="form-group">
                        <p>Codigo de Usuario</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.idusuario)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Dni</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.dni)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Nombres</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Apellidos</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.apellido)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Celular</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.celular)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <div class="form-group">
                        <p>Usuario</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.login)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Correo</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.correo)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Contraseña</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.password)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Dirección</p>
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => item.direccion)
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Distrito</p>
                        <div class="col-md-12">
                            @Html.DropDownList("IdDistritos", (SelectList)ViewBag.ciudades, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        <br />

        <div class="contact-form">
            <a href="~/Cliente/EditarPerfil?id=@Session["UserID"]" class="btn btn-success" value="">Editar Perfil</a>
        </div>


        @if (ViewBag.valor == "S")
        {
            <div class="contact-form">
                <a href="~/Cliente/ListadoMascotas?id=@Session["UserID"]" class="btn btn-success" value="">Ver Mascota</a>
            </div>
        }
        else if (ViewBag.valor == "N")
        {
            <div class="contact-form">
                <a href="~/Cliente/RegistrarMascota" class="btn btn-success" value="">Agregar Mascota</a>
            </div>

        }
    </div>
</div>