@model CIBERVET.ViewModel.CarritoDeComprasViewModel

@{
    ViewBag.Title = "VerCarrito";
    Layout = "~/Views/Layout/_Layout_Session.cshtml";
}
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>PRODUCTOS PEDIDOS</th>
                                <th>IMAGEN</th>
                                <th>PRECIO</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                                <th>ELIMINAR</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.CartItems)
                        {
                            <tbody>
                                <tr>
                                    <td class="name-pr">
                                        @Html.ActionLink(item.tb_producto.descripcionSimple_prod, "VerProductosDetallado", "Cliente",
                                                       new { id = item.id_prod }, null)
                                    </td>
                                    <td class="name-pr">
                                    
                                        @if (!string.IsNullOrEmpty(item.tb_producto.foto1_prod))
                                        {
                                            <img class="thumbnail" src="~/FotosProductos/@item.tb_producto.foto1_prod" width="100" height="100"/>
                                        }
                                    
                                    </td>
                                    <td class="price-pr">
                                        <p>@item.tb_producto.precio_prod</p>
                                    </td>
                                    <td class="quantity-box"><p class="btn glyphicon glyphicon-minus">@Html.ActionLink("-", "DisminuirProducto", new { id = item.id_prod })  </p>  @item.Cantidad  <p class="btn glyphicon glyphicon-plus">  @Html.ActionLink("+", "AgregarProducto", new { id = item.id_prod })</p></td>
                                    <td class="total-pr">
                                        <p>@(item.tb_producto.precio_prod * @item.Cantidad)</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="#">
                                            @Html.ActionLink("Quitar", "RemoverProducto", new { id = item.id_prod })
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }


                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>TOTAL: </strong></td>
                            <td><strong>@Model.CartTotal</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="price-box-bar">
                    <div class="cart-and-bay-btn">
                        <p class="btn hvr-hover">@Html.ActionLink("Regresar a Catalogo Productos", "CatalogoProductos")</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="price-box-bar">
                    <p class="btn hvr-hover">@Html.ActionLink("Pagar en Efectivo", "Irapagar")</p>

                </div>


            </div>




            <div class="col-lg-6 col-sm-6">
                <div class="price-box-bar">
                    <div class="cart-and-bay-btn">
                        <p class="btn hvr-hover" style="color:white"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="price-box-bar">
                    <p class="btn hvr-hover">@Html.ActionLink("Pagar con Tarjeta", "PagoTarjeta")</p>
                </div>
            </div>

        </div>
    </div>
</div>
