@model CIBERVET.Models.ServicioForCRUD

@{
    ViewBag.Title = "DetalleServicio";
    Layout = "~/Views/Layout/_Layout_Session_Admin.cshtml";
}

<h2>Detalle Servicio</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idServicio)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Horario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ModificarServicio", new { id = Model.idServicio }) |
    @Html.ActionLink("Regresar a la Lista", "ListadoServicios")
</p>