<style>
    #letra {
        text-align: center;
        text-decoration-style: none;
        color: white;
        font-size: larger;
    }
</style>

<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas not list -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>CiberVet</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js%22%3E"></script>
</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="custom-select-box">
                </div>

                <div class="right-phone-box" id="letra">
                    @if (Session["UsuarioVeterinaria"] != null)
                    {
                        <p id="letra">
                            BIENVENIDO(A):  <a href="#">  <strong>@Session["UsuarioVeterinariaNombre"].ToString()</strong></a> <a href="#"> <strong>@Session["UsuarioVeterinariaApellido"].ToString()</strong></a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header" style="width:100%">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="HomeVeterinaria"><img src="~/images/logi1.png" class="logo" width="170px" height="65px" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="HomeVeterinaria">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="MantenimientoProductos">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="MantenimientoServicios">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="TrackingPersonalVentas">Tracking</a></li>
                        <li class="nav-item"><a class="nav-link" href="IncidenteMascota">Incidente</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CerrarSesionVeterinaria","Veterinaria")">Cerrar Sesión</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    @RenderBody()
    <hr />

    <!-- ALL JS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor");


    @RenderSection("scripts", required: false)
    <!-- ALL JS FILES -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</body>
</html>